@import "font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .scrollbar-thin::-webkit-scrollbar {
        width: 0.5rem;
    }
    .scrollbar-thin::-webkit-scrollbar-track {
        border-radius: 1rem;
    }
    .scrollbar-thin::-webkit-scrollbar-thumb {
        border-radius: 1rem;
    }
    .dark-boxshadow{
        box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 10%);
    }
}

*{
    box-sizing: border-box;
    @apply font-sans text-white;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    @apply bg-gray-dark;
}
